
header{
    width: 100%;
    background-color: cadetblue;
    height: 100%;
    display: flex;
    justify-content: space-between;
    
}

@media(max-width:700px){
    h1{
        display: none;
    }
    .botao{
        display: flex;
        flex-direction: column;
        padding-right: 35%;
        margin: auto;
        
    }
    .section3{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    }

#titulo:hover{
    transform: scale(1.3);
}

h1{
    margin-left: 40px;
    font-family: 'Patrick Hand', cursive;
}

.botao{
    margin-right: 40px;
}
button:hover{
    color: darkgreen;
}
button{
    background: #8FBC8F;
    border: 0;
    margin-bottom: 1em;
    color: black;
    box-shadow: 2px 2px 2px #050404;
}   

.section2{
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}

.img{
    height: 30%;
    width: 45vw;
    border: 0;
    border-radius: 100%;
}
body{
    background-color: aquamarine;
    margin: 0;
}

ul{
    font-family: 'Patrick Hand', cursive;  
}

.rodape{
    width: 100%;
    float: left;
    background-color: cadetblue;
  text-align: center;
}
.rodape p{color: white;}